<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * TIENDA CARLOS* * * * * * * * * * * -->
<!-- * * * * * * * * * * Pantalla Web - Coppel * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- * * * * * * componente top bar * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-top-bar></app-top-bar>

<!-- * * * * * * formulario de busqueda * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-form-busqueda></app-form-busqueda>